
.home-page{
  background-image: url('../img/background/h_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:15%; 
  font-family: 'Gabriela', serif;
  background-size: cover;
}

.home-page h1{
  padding: 2px;
  margin: 5px;
}
.home-page p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
/*check this please*/
#mouse-click {
  animation: bounce 2s infinite;
}
/*....*/


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

.about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
  font-family: 'Calibri';
  font-size: 18px;
}
#about-page{
  font-family: 'Gabriela';
}
.services-section{
  text-align: center;
  background-image: url("../img/background/s_image.jpg");
  color: white;
  background-position:left;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Copse', serif;
  font-size: 18px;
}

.services h2{
  font-family: 'Gabriela', serif;
  
}
#services{
  padding-top: 5%;
  padding-bottom: 10%;
}
.what-we-do{
  font-family: 'Quattrocento', serif;
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.what-we-do .headings{
  padding-bottom: 38px;
}



.contact{
  background-image: url('../img/background/c_image.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  opacity: 0.8;
}


/* Contact section */
#contact {
  background: url("../img/background/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact input {
  height: 45px;
}

#contact input,
#contact textarea {
  background: transparent;
  border-radius: 0;
  color: #fff;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #cccccc;
}

#contact input:focus, #contact input:active,
#contact textarea:focus,
#contact textarea:active {
  box-shadow: none;
  border-color: #fff;
}

#contact button:focus, #contact button:active {
  box-shadow: none;
  border-color: #fff;
}

footer{
  text-align: center;
  padding-top: 30px;
  font-family: 'Delius Swash Caps', cursive;
}
footer p{
  margin-top: 10px;
}

#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;
}




/* Portfolio section */
#portfolio {
  cursor: pointer;
}

#portfolio .project {
  transition: all 0.3s linear;
}

#portfolio .project .project-name {
  top: 46%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  display: none;
  transition: all 0.5s linear;
  text-transform: uppercase;
}

#portfolio .project::before {
  width: 0%;
  height: 0%;
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: all 0.3s;
  top: 30%;
  transform-origin: 50% 50%;
  left: 50%;
}

#portfolio .project:hover::before {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#portfolio .project:hover .project-name {
  display: block;
}

/* What we do section */
#what-we-do {
  min-height: 450px;
  display: flex;
  align-items: center;
  padding-bottom: 0%;
  margin-bottom: auto;
}

#what-we-do .service {
  cursor: pointer;
}

#what-we-do .service .service-details {
  display: none;
}
